<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3>Teams:</h3>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="list-group">
      <a
        [routerLink]="['/home', group.groupId]"
        href="#"
        class="list-group-item"
       *ngFor="let group of groups"
      >
         {{ group.name }}
      </a>
    </div>
  </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
